@font-face {
    font-family: "Didact";
    src: url("../fonts/didact-gothic/didactgothic-regular-webfont.woff2") format("woff2"),
         url("didactgothic-regular-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: "Catamaran";
    src: url("../fonts/catamaran/catamaran-bold-webfont.woff2") format("woff2"),
         url("../fonts/catamaran/catamaran-bold-webfont.woff") format("woff");
    font-weight: bold;
    font-style: normal;

}




@font-face {
    font-family: "Catamaran";
    src: url("catamaran-extrabold-webfont.woff2") format("woff2"),
         url("catamaran-extrabold-webfont.woff") format("woff");
    font-weight: 900;
    font-style: normal;

}

@font-face {
    font-family: "Catamaran";
    src: url("../fonts/catamaran/catamaran-extralight-webfont.woff2") format("woff2"),
         url("catamaran-extralight-webfont.woff") format("woff");
    font-weight: 100;
    font-style: normal;

}

@font-face {
    font-family: "Catamaran Light";
    src: url("catamaran-light-webfont.woff2") format("woff2"),
         url("catamaran-light-webfont.woff") format("woff");
    font-weight: n200;
    font-style: normal;

}

@font-face {
    font-family: "catamaranmedium";
    src: url("catamaran-medium-webfont.woff2") format("woff2"),
         url("catamaran-medium-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: "catamaranregular";
    src: url("catamaran-regular-webfont.woff2") format("woff2"),
         url("catamaran-regular-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: "catamaransemibold";
    src: url("catamaran-semibold-webfont.woff2") format("woff2"),
         url("catamaran-semibold-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: "catamaranthin";
    src: url("catamaran-thin-webfont.woff2") format("woff2"),
         url("catamaran-thin-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;

}

body {
  background-color: white;
  /* margin: 0; */
}

#banner h1 {
   background-color: #dddddb;
   text-shadow: 2px 2px #768898;
   margin-bottom: 0;
   padding-top: .5em;
   padding-bottom: .5em;
   padding-left: .5em;
   border-bottom: .35em solid #d8bed6;
   text-align: center;
   color: white;
   font-size: 3.3em;
   font-family: "Didact", sans-serif;
}

@media (min-width: 36em) {

  #banner h1 {
    font-size: 4.5em;
  }

}

@media (min-width: 48em) {

#banner h1 {
  font-size: 6em;
}

#banner .d-block {
  margin-left:-2em;
}

#banner .d-block-bottom{
  margin-left: 1.75em;
}

}

h2 {
  /* background-color: #768898; */
  /* margin-top: 0;
  margin-bottom: 0;
  padding-top: 1em;
  padding-left: 4em; */
  font-family: "Didact", sans-serif;
  font-size: 3em;
  color: white;

}

h3 {
  text-align: center;
  color: #768898;
  /* padding-top:1em;
  padding-bottom: 1em; */
}

/* p {
  font-family: Catamaran, sans-serif;
  font-weight: 100;
  /* margin-left: 25%; */
  /* min-width: 10em; */
  /*padding-right:20em;*/
  padding-left: 2em;
  border-left: .5em solid #dddddb;
  /* width: 90%; */
  /* margin-top: 5% auto; */
  /* width: 55%; */
  /* max-width: 75em; */
/* } */


div.h3-gray{
  color:#768898;
}


/* blockquote {
  width: 90%;
  max-width: 75em;
  margin: 0 auto;
}  */

/* blockquote {
  font-family: "Didact", sans-serif;
  padding-right:20em;
  padding-left: 20em;

} */

section h2 {
  text-transform: lowercase;
}

figure,
figcaption {
  margin: 0;
}

figure,
blockquote{
  margin: 0;
}

blockquote p {
  margin-top: 0;
  margin-bottom: 0;
}

#paragraph-border{
  font-family: Catamaran, sans-serif;
  font-weight: 100;
  padding-left: 2em;
  border-left: .5em solid #dddddb;
}

#curious {
  background-color: #768898;
  text-transform: lowercase;
  margin-bottom: 2em;
}

#tools {
  background-color: #768898;
  margin-top: 2em;
  margin-bottom: 2em;
  /* padding-left: 5em; */
  text-transform: lowercase;
}

#future {
  background-color: #768898;
  margin-top: 3em;
  margin-bottom: 3em;
  padding-bottom: 3em;
  text-transform: lowercase;
}

#quote-1 {
  /* background-color: #768898; */
  /* margin-top: 0;
  margin-left: 0;
  margin-bottom: 3em;
  margin-right: 0;
  padding-top: .5em;
  padding-bottom: 1.25em;
  padding-left: 8.5em; */
  font-family: "Catamaran", sans-serif;
  font-size: 1.5em;
  color: white;
}

#quote-2 {
  /* background-color: #768898; */
  position: relative;
  padding-top: .5em;
  /* padding-right: 18em; */
  padding-bottom: .25em;
  /* padding-left: 18em; */
  z-index: 0;
  font-family: "Didact", sans-serif;
  /* font-weight: 600; */
  font-size: 1.25em;
  color: white;
}


#quotes {
  background-color: #d8bed6;
  /* margin-top: 3em;
  margin-left: 0;
  margin-bottom: 3em;
  padding-left: 2em;
  padding-right: 2em; */
  padding: 5%;
}

div.quote {
  background: #d8bed6;
  /* padding: .5em; */
  margin-top: 2em;
  margin-bottom: 2em;
}

div.quote-darker {
  background: #d8bed6;
  background: rgba(216, 191, 216, .6);
  /* padding: .5em; */
  margin-top: 2em;
  margin-bottom: 2em;
}

figure.quote {
  max-width: 36em;
  margin: auto;
}

.quote blockquote p:before {
  content: "“";
  /* margin-left: 1em; */
}

.quote blockquote p:after {
  content: "„";
}

.fancy-quote blockquote {
  position: relative;
  padding: 3em;
  z-index: 0;
}

.fancy-quote blockquote p:before,
.fancy-quote blockquote p:after {
  position: absolute;
  font-family: Georgia, serif;
  font-size: 20em;
  color: #768898;
  /* border: 1px solid red; */
  z-index: -1;
  opacity: .25;
}

.fancy-quote blockquote p:before {
  top: 0;
  left: 0;
  line-height: .9;
}

.fancy-quote blockquote p:after {
  bottom: 0;
  right: 0;
  line-height: 1.1;
}


.max-width {
  width: 90%;
  max-width: 48em;
  margin: 0 auto;
}

.quotes-max-width {
  width: 90%;
  max-width: 60em;
  margin: auto;
  /* margin: 0 auto 3em; */
  /* margin-bottom: 2e */
  padding-top: 1em;
  padding-bottom: 1em;
  /* padding-left: 7em; */
}

.heading-max-width {
  width: 90%;
  max-width: 48em;
  margin: 0 auto;
}

#small-text {
  font-size: .5em;
}
